.advantages {
  background-color: $color-ghost-white;
  padding: 118px 0 114px 0;

  @media (max-width: $vp-1199) {
    padding: 98px 0 97px;
  }

  @media (max-width: $vp-767) {
    background-color: #f8f9fc;
    padding-top: 68px 0 67px;
}
}

.advantages h2 {
  font: {
    family: $alumni-sans-bold;
    size: 54px;
  }
  line-height: 59px;
  letter-spacing: 0.04em;
  text-align: center;
}

.advantages__wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin-top: 63px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 0 5.5%;
  overflow: hidden;

  @media (max-width: $vp-1199) {
    margin-top: 45px;
    padding: 0 1%;
  }

  @media (max-width: $vp-767) {
    margin-top: 45px;
    padding: 0;
  }
}

.advantages__item h3 {
  font: {
    family: $roboto-condensed-bold;
    size: 22px;
  }
  line-height: 33px;
}

.advantages__item p {
  font: {
    family: $roboto-condensed-light;
    size: 16px;
  }
  line-height: 22px;
}

.advantages__block--bottom {
  @media (max-width: $vp-1199) {
    margin-top: 31px;
  }
}

.advantages__block--top,
.advantages__block--bottom {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages__block--top h3,
.advantages__block--bottom h3 {
  @media (max-width: $vp-1199) {
    font-size: 20px;
  }
}

.advantages__block--top p,
.advantages__block--bottom p {
  @media (max-width: $vp-1199) {
    padding: 0;
  }
}

.advantages__block--center {
  position: absolute;
  max-width: 240px;
  width: 22%;
  height: 100%;
  top: 0;
  margin-top: 6px;
  left: 50%;
  margin-left: -120px;
  text-align: center;
  padding: 60px 0 58px 0;
  background-color: $color-resolution-blue;
  color: $color-default-white;

  @media (max-width: $vp-1199) {
    position: static;
    max-width: 442px;
    width: 100%;
    margin: 46px auto 10px;
    padding: 105px 0 38px
  }

  @media (max-width: $vp-767) {
    max-width: 400px;
    width: 100%;
    padding: 105px 0 42px;
  }
}

.advantages__block--center h3 {
  font: {
    family: $roboto-condensed-bold;
    size: 26px;
  }
  line-height: 39px;

  @media (max-width: $vp-1199) {
    font-size: 22px;
  }
}

.advantages__block--center p {
  font: {
    family: $roboto-condensed-regular;
    size: 16px;
  }
  line-height: 24px;
  color: $color-default-white;

  @media (max-width: $vp-1199) {
    padding: 15px 130px 0 130px;
  }

  @media (max-width: $vp-767) {
    padding: 11px 70px  0 70px;
  }
}

.advantages__block--center span {
  font: {
    family: $roboto-condensed-bold;
    size: 74px;
  }
  line-height: 111px;
  color: $color-default-white;
}

.advantages__item {
  position: relative;
  box-sizing: border-box;
}


.advantages__item--space {
  width: 32.8%;
  padding-bottom: 78px;
  border-bottom: 2px solid rgba(209, 10, 66, 0.2);

  &::before {
    content: "";
    position: absolute;
    width: 102px;
    height: 53px;
    top: 5px;
    right: 0;
    margin-right: calc(40% + 76px);
    background-image: url("../img/advantages/900.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &::after {
    content: "кв/м";
    position: absolute;
    width: 40px;
    font-size: 14px;
    line-height: 150%;
    color: #2e35ac;
    top: 63px;
    right: 0;
    margin-right: calc(50% + 106px);
  }

  h3,
  p {
    width: 178px;
    margin-left: auto;
  }

  @media (max-width: $vp-1199) {
    border-bottom: none;
  }

  @media (max-width: $vp-767) {
    padding-top: 83px;
    width: 100%;
    text-align: center;
    padding-right: 0;

    &::before {
      top: 8px;
      right: 50%;
      margin-right: -41px;
    }

    &::after {
      top: 55px;
      right: 50%;
      margin-right: -20px;
    }

    h3,
    p {
      margin-right: auto;
    }
  }
}

.advantages__item--comfort {
  padding-top: 74px;
  width: 32.8%;

  &::before {
    content: "";
    position: absolute;
    width: 103px;
    height: 53px;
    top: 79px;
    right: 0;
    margin-right: calc(30% + 115px);
    background-image: url("../img/advantages/350.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &::after {
    content: "мест";
    position: absolute;
    width: 40px;
    font-size: 14px;
    line-height: 150%;
    color: #2e35ac;
    top: 137px;
    right: 0;
    margin-right: calc(50% + 113px);
  }

  h3,
  p {
    width: 185px;
    margin-left: auto;
  }

  @media (max-width: $vp-767) {
    padding-top: 82px;
    width: 100;
    text-align: center;
    padding-right: 0;

    &::before {
      width: 85px;
      height: 43px;
      top: 7px;
      right: 50%;
      margin-right: -42px;
    }

    &::after {
      top: 55px;
      right: 50%;
      margin-right: -20px;
    }

    h3,
    p {
      margin-right: auto;
    }
  }
}

.advantages__item--parking {
  width: 32.8%;
  padding-bottom: 78px;
  border-bottom: 2px solid rgba(209, 10, 66, 0.2);

  &::before {
    content: "";
    position: absolute;
    width: 67px;
    height: 53px;
    top: 3px;
    right: 0;
    margin-right: calc(40% + 131px);
    background-image: url("../img/advantages/70.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &::after {
    content: "машин";
    position: absolute;
    width: 40px;
    font-size: 14px;
    line-height: 150%;
    color: #2e35ac;
    top: 63px;
    right: 0;
    margin-right: calc(50% + 125px);
  }

  h3,
  p {
    width: 230px;
    margin-left: auto;
  }

  @media (max-width: $vp-1199) {
    border-bottom: none;
  }

  @media (max-width: $vp-767) {
    padding-top: 117px;
    width: 100%;
    text-align: center;

    &::before {
      top: 42px;
      right: 50%;
      margin-right: -27px;
    }

    &::after {
      top: 90px;
      right: 50%;
      margin-right: -20px;
    }

    h3,
    p {
      margin-right: auto;
    }
  }
}

.advantages__item--experience {
  width: 32.8%;
  padding-top: 73px;

  &::before {
    content: "";
    position: absolute;
    width: 65px;
    height: 52px;
    top: 77px;
    right: 0;
    margin-right: calc(40% + 132px);
    background-image: url("../img/advantages/5+.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &::after {
    content: "лет";
    position: absolute;
    width: 40px;
    font-size: 14px;
    line-height: 150%;
    color: #2e35ac;
    top: 137px;
    right: 0;
    margin-right: calc(60% + 92px);
  }

  h3,
  p {
    width: 230px;
    margin-left: auto;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    text-align: center;
    padding-top: 117px;

    &::before {
      top: 44px;
      right: 50%;
      margin-right: -27px;
    }

    &::after {
      top: 90px;
      right: 50%;
      margin-right: -20px;
    }

    h3,
    p {
      margin-right: auto;
    }
  }
}
