.btn {
  display: inline-flex;
  padding: 20px 20px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }
}
