.contacts {
  display: flex;
  justify-content: flex-start;
  padding: 55px 120px 47px;

  @media (max-width: $vp-767) {
   padding: 0 15px;
  }
}

.contacts__body {
  display: flex;
  flex-direction: column;
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 30px 1fr;

  @media (max-width: $vp-767) {
    grid-template-columns: 1fr;
  }
}

.contacts__line {
  content: "";
  width: 1px;
  height: 102px;
  border-right: 1px solid #74819C;
  padding-left: 27px;
  margin-top: 8px;

  @media (max-width: $vp-767) {
    display: none;
  }
}

.contacts h2 {
  font: {
    family: $alumni-sans-semi-bold;
    size: 54px;
  }
  line-height: 59px;
  letter-spacing: 0.03em;
  padding-bottom: 40px;

  @media (max-width: $vp-767) {
    font: {
      size: 32px;
    }
    line-height: 35px;
  }
}

.contacts__list h3 {
  font: {
    family: $roboto-condensed-bold;
    size: 16px;
  }
  line-height: 24px;
  padding-bottom: 3px;
}

.contacts__list li {
  margin-bottom: 16px;
}

.contacts__list span,
.contacts__list a {
  font: {
    family: $roboto-condensed-regular;
    size: 14px;
  }
  line-height: 21px;
}

.contacts__list:first-child {
  padding-left: 4px;
}

.contacts__list:last-child {
  padding-left: 58px;
}
