.footer {
  background-color: #030a1a;
  padding-top: 39px;
  padding-bottom: 39px;
  box-sizing: border-box;
  margin-top: auto;

  @media (max-width: $vp-1199) {
    padding-top: 41px;
    padding-bottom: 45px;
  }

  @media (max-width: $vp-767) {
    padding-top: 45px;
    padding-bottom: 50px;
    position: relative;
  }
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $vp-767) {
    flex-direction: column;
  }
}

.footer__logo {
  margin-top: 5px;

  @media (max-width: $vp-767) {
    position: absolute;
    left: 15px;
    top: 45px;
  }
}

.footer__logo svg {
  fill: $color-default-white;
}

.footer__nav-list {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $vp-767) {
    min-width: 305px;
    align-self: flex-start;
  }
}

.footer__social-list {
  @media (max-width: $vp-767) {
    margin-top: 25px;
    align-self: flex-start;
  }
}
