.footer {
  background-color: $color-default-black;
  padding: 41px 0;

  @media (max-width: $vp-1199) {
    padding: 45px 0;
  }

  @media (max-width: $vp-767) {
    padding-top: 43px;
  }
}

.footer__container {
  display: flex;

  @media (max-width: $vp-767) {
    flex-direction: column;
  }
}

.footer__nav-list,
.footer__social-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
}

.footer__nav-list {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  column-gap: 42px;
  row-gap: 20px;
  margin-right: auto;
  margin-left: 278px;

  @media (max-width: $vp-1199) {
    column-gap: 32px;
    margin-left: 61px;
  }

  @media (max-width: $vp-767) {
    display: block;
    column-count: 2;
    gap: 78px;
    margin-bottom: 33px;
    margin-left: 0;
  }
}

.footer__nav-item--logo {
  margin-right: 238px;

  @media (max-width: $vp-1199) {
    margin-right: 32px;
    margin-top: 3px;
  }

  @media (max-width: $vp-767) {
    margin-top: 5px;
  }
}

.footer__nav-item--discounts {
  @media (max-width: $vp-767) {
    grid-area: discounts;
  }
}

.footer__nav-item--services {
  @media (max-width: $vp-767) {
    margin-top: 39px;
    margin-bottom: 18px;
  }
}

.footer__nav-item--trainers {
  @media (max-width: $vp-767) {
    margin-top: 17px;
    margin-bottom: 16px;
  }
}

.footer__nav-item--subscriptions {
  @media (max-width: $vp-767) {
    grid-area: subscriptions;
  }
}

.footer__nav-item--schedule {
  @media (max-width: $vp-767) {
    grid-area: schedule;
  }
}

.footer__nav-item a {
  color: $color-default-white;

  font: {
    family: $roboto-condensed-light;
    size: 14px;
  }

  line-height: 16px;
  user-select: none;

  @media (max-width: $vp-767) {
    font-size: 16px;
    line-height: 19px;
  }

  @include hover-focus {
    transition: .3s;
    text-shadow: 0 0 5px $color-default-white;
  }
}

.footer__logo svg {
  margin-top: 2px;

  @media (max-width: $vp-1199) {
    width: 82px;
    margin-top: -5px;
  }

  @media (max-width: $vp-767) {
    position: absolute;
    width: 68px;
    margin-top: -3px;
  }
}

.footer__social-list {
  grid-template-columns: auto auto auto;
  gap: 11px;

  @media (max-width: $vp-1199) {
    margin-right: -6px;
    margin-left: 20px;
  }

  @media (max-width: $vp-767) {
    width: fit-content;
    margin-left: 0;
  }
}

.footer__social-link,
.footer__logo svg {
  fill: $color-default-white;
}

.footer__social-link svg {
  @include hover-focus {
    transition: 0.3s;
    filter: drop-shadow(0 0 5px $color-default-white);
  }
}