.form {
  width: 50%;
  background-color: $color-sapphire;
  padding-right: 72px;

  @media (max-width: $vp-1199) {
    width: 100%;
    padding-right: 0;
  }
}

.form__container {
  max-width: 683px;
  margin-left: auto;
  padding: 74px 100px 0 104px;

  @media (max-width: $vp-1199) {
    max-width: 100%;
    padding: 59px 163px 67px 134px;
  }

  @media (max-width: $vp-767) {
    margin: 0 auto;
    padding: 63px 15px 70px;
  }
}

.form h2 {
  font: {
    family: $alumni-sans-extra-bold;
    size: 55px;
  }
  line-height: 46px;
  color: $color-default-white;
  letter-spacing: 0.03em;
  padding-bottom: 36px;

  @media (max-width: $vp-1199) {
    font-size: 42px;
    text-align: left;
  }

  @media (max-width: $vp-767) {
    font: {
      size: 32px;
    }
    line-height: 35px;
  }
}

.form__fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @media (max-width: $vp-1199) {
    gap: 60px;
  }

  @media (max-width: $vp-767) {
    gap: 2px;
    grid-template-columns: 1fr;
  }
}

.form input {
  font: {
    family: $roboto-condensed-regular;
    size: 14px;
  }
  line-height: 16px;
  color: $color-default-white;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(116, 129, 156, 1);
  padding-bottom: 7px;
  margin: 0 30px 30px 0;

  @media (max-width: $vp-767) {
    padding-left: 0;
    margin-right: 15px;
  }

  @include hover-focus {
    outline: 1px solid $color-default-white;
    border-radius: 3px;
  }
}

.form input::placeholder {
  font: {
    family: $roboto-condensed-regular;
    size: 14px;
  }
  line-height: 16px;
  color: $color-default-white;
}

.form button {
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: {
    family: $roboto-condensed-bold;
    size: 14px;
  }
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $color-default-white;
  outline: 3px solid $color-default-white;

  @media (max-width: $vp-767) {
    margin-top: 9px;
  }

  @include hover-focus {
    outline: none;
    background: $gradient-btn-bg;
  }
}
