.menu {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;

  @media (max-width: $vp-1199) {
    padding-top: 27px;
    margin-bottom: 4px;
  }

  @media (max-width: $vp-767) {
    padding-top: 5px;
    margin-bottom: 0;
  }
}

.menu__logo {
  width: 122px;
  height: 44px;
  margin-bottom: 10px;

  @media (max-width: $vp-1199) {
    width: 80px;
  }
}

.menu__logo svg {
  fill: $color-default-white;

  @media (max-width: $vp-1199) {
    width: 82px;
  }

  @media (max-width: $vp-767) {
    width: 69px;
  }

  @include hover-focus {
    transition: 0.3s;
    filter: drop-shadow(0 0 20px $color-default-black);
  }
}

.menu__phone {
  margin-bottom: 20px;

  @media (max-width: $vp-1199) {
    margin-bottom: 0;
    margin-top: 7px;
  }

  @media (max-width: $vp-767) {
    margin-top: 11px;
  }
}

.menu__phone a {
  font: {
    family: $alumni-sans-bold;
    size: 26px;
  }
  line-height: 31px;
  letter-spacing: 0.03em;
  color: $color-default-white;

  @media (max-width: $vp-1199) {
    font: {
      size: 24px;
    }
    line-height: 26px;
    letter-spacing: 0.02em;
  }

  @media (max-width: $vp-767) {
    font: {
      size: 20px;
    }
  }

  @include hover-focus {
    transition: 0.3s;
    text-shadow: 0 0 20px $color-default-black;
  }
}

.menu__phone-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
