.preview__content {
  display: grid;
  grid-template-areas:
    "list title"
    "list btn";
  grid-template-columns: 1fr 1fr;
  color: $color-default-white;
  margin-top: 85px;
  padding-bottom: 44px;
  text-align: right;

  @media (max-width: $vp-1199) {
    margin: 54px 11px 0 0;
  }

  @media (max-width: $vp-767) {
    margin: 0 auto;
    padding-top: 30px;
    grid-template-areas:
      "list title"
      "btn btn";
    grid-template-columns: 1fr;
  }
}

.preview__title {
  grid-area: title;
  display: block;
  text-align: right;
  font: {
    family: $alumni-sans-extra-bold;
    size: 92px;
  }
  line-height: 110px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-bottom: 48px;
  cursor: default;

  @media (max-width: $vp-1199) {
    font: {
      size: 78px;
    }
    line-height: 84px;
    text-transform: none;
    letter-spacing: 0;
    padding: 0 7px 43px 0;
  }

  @media (max-width: $vp-767) {
    padding: 0 2px 30px 0;
  }
}

.preview__title span {
  display: block;
  text-align: right;
  font: {
    family: $alumni-sans-bold;
    size: 41px;
  }
  line-height: 52.8px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 0 55px 12px 0;

  @media (max-width: $vp-1199) {
    font: {
      size: 30px;
    }
    line-height: 37px;
    padding: 0 0 9px 0;
  }

  @media (max-width: $vp-767) {
    font: {
      size: 25px;
    }
    line-height: 33px;
    padding: 20px 0 15px 0;
  }
}

.preview__list {
  grid-area: list;
  display: flex;
  flex-direction: column;
  padding: 188px 16px 0 0;

  @media (max-width: $vp-1199) {
    padding: 134px 21px 0 0;
  }

  @media (max-width: $vp-767) {
    margin-right: -12px;
    padding: 144px 0 0 0;
  }
}

.preview__list-item {
  font: {
    family: $roboto-condensed-regular;
    size: 14px;
  }
  line-height: 21px;
  text-align: right;
  cursor: pointer;
}

.preview__list-item a {
  color: $color-default-white;

  @include hover-focus {
    opacity: 0.7;
  }
}

.preview__btn {
  grid-area: btn;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  max-height: 55px;
  font: {
    family: $roboto-condensed-bold;
    size: 12px;
  }
  line-height: 14px;
  letter-spacing: 0.05em;
  color: $color-default-white;
  outline: 4px solid $color-default-white;
  background-color: transparent;
  margin-left: auto;
  scroll-behavior: smooth;

  @include hover-focus {
    background: $gradient-btn-bg;
    outline: none;
  }

  @media (max-width: $vp-1199) {
    width: 180px;
    margin-right: 5px;
  }

  @media (max-width: $vp-767) {
    width: 290px;
    margin: 0;
  }
}

.preview__img {
  position: relative;
  right: 0;
  max-width: 500px;
  margin: -33px 0 0 63px;
  object-fit: cover;

  @media (max-width: $vp-1199) {
    margin: 1px 0 0 15px;
  }

  @media (max-width: $vp-767) {
    display: none;
  }
}

.preview__img img {
  width: 100%;
  object-fit: cover;
  background-color: $color-sapphire;
}
