.reviews {
  padding-top: 67px;
  padding-bottom: 120px;

  @media (max-width: $vp-1199) {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  @media (max-width: $vp-767) {
    padding-top: 64px;
    padding-bottom: 69px;
  }
}

.reviews__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.reviews h2 {
  font: {
    family: $alumni-sans-semi-bold;
    size: 54px;
  }
  line-height: 65px;
  letter-spacing: 0.03em;
  color: $color-sapphire;
  margin-top: 0;
  margin-bottom: 37px;
  margin-left: 8px;

  @media (max-width: $vp-1199) {
    font-size: 42px;
    line-height: 50px;
    margin-left: -2px;
    margin-bottom: 39px;
  }

  @media (max-width: $vp-767) {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 44px;
  }
}

.reviews__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 560px;

  @media (max-width: $vp-1199) {
    width: 566px;
  }

  @media (max-width: $vp-767) {
    width: calc(226/320 * 100vw);
    height: auto;
  }
}

.reviews__item {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 28px;
  row-gap: 13px;
  font-family: $roboto-condensed-regular;
  background: $color-resolution-blue;
  box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);
  padding: 55px 62px 55px;
  color: $color-default-white;

  @media (max-width: $vp-1199) {
    padding-left: 65px;
    padding-bottom: 58px;
    row-gap: 11px;
  }

  @media (max-width: $vp-767) {
    column-gap: 0;
    row-gap: 13px;
    padding: 48px 25px 35px;
    box-shadow: none;
  }
}

.reviews__photo {
  grid-column: 1/2;
  grid-row: 1/-1;
  margin-top: 7px;

  @media (max-width: $vp-767) {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 68px;
    height: 68px;
    margin-top: -7px;
    margin-left: 16px;
  }
}

.reviews__photo img {
  object-fit: cover;

  @media (max-width: $vp-767) {
    width: 68px;
    height: 68px;
  }
}

.reviews__item h3 {
  margin: 0;
  font: {
    weight: 700;
    size: 20px;
  }
  line-height: 150%;
  grid-column: 2/3;
  grid-row: 1/2;

  @media (max-width: $vp-767) {
    line-height: 130%;
  }
}

.reviews__item p {
  margin: 0;
  font: {
    weight: 400;
    size: 16px;
  }
  line-height: 140%;
  grid-column: 2/3;
  grid-row: 2/3;

  @media (max-width: $vp-767) {
    grid-column: 1/-1;
    text-align: center;
  }
}

.reviews__button-prev,
.reviews__button-next {
  position: absolute;
  top: 51%;
  margin-top: 30px;
  background-color: transparent;
  border: 0;
  background-image: url("../img/svg/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 34px;
  z-index: 1;
  cursor: pointer;
  box-sizing: content-box;

  @media (max-width: $vp-1199) {
    margin-top: 15px;
    width: 30px;
    height: 37px;
    top: 53%;
  }

  @media (max-width: $vp-767) {
    background-size: 10px 19px;
    margin-top: 22px;
    top: 50%;
  }

  &:hover {
    opacity: 0.5;
  }
}

.reviews__button-prev {
  left: 257px;

  @media (max-width: $vp-1199) {
    left: 40px;
  }

  @media (max-width: $vp-767) {
    left: 4px;
  }
}

.reviews__button-next {
  right: 257px;
  transform: rotate(180deg);

  @media (max-width: $vp-1199) {
    right: 40px;
  }

  @media (max-width: $vp-767) {
    right: 4px;
  }
}
