.sale {
  margin-top: 151px;

  @media (max-width: $vp-1199) {
    margin-top: 86px;
  }

  @media (max-width: $vp-767) {
    margin-top: 65px;
  }
}

.sale__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "content img";

  @media (max-width: $vp-1199) {
    grid-template-columns: auto 1fr;
  }

  @media (max-width: $vp-767) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "content"
      "img";
  }
}

.sale__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 38px;
  padding-bottom: 48px;

  @media (max-width: $vp-1199) {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.sale__title {
  font: {
    family: $alumni-sans-semi-bold;
    size: 54px;
  }
  line-height: 59px;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: default;

  @media (max-width: $vp-1199) {
    font-size: 42px;
    padding-bottom: 36px;
  }

  @media (max-width: $vp-767) {
    font-size: 32px;
    line-height: 35px;
    padding-bottom: 44px;
  }
}

.sale__content {
  grid-area: content;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-torch-red;
  color: $color-default-white;
  padding: 34px 28px 45px;
  cursor: default;

  @media (max-width: $vp-1199) {
    padding: 34px 48px 43px 30px;
  }

  @media (max-width: $vp-767) {
    align-items: center;
    padding: 33px 48px 45px 30px;
  }
}

.sale__content span {
  display: flex;
  flex-direction: column;
  font: {
    family: $roboto-condensed-bold;
    size: 68px;
  }
  line-height: 79px;
  letter-spacing: 0.03em;
  margin-top: -11px;

  @media (max-width: $vp-1199) {
    font: {
      size: 70px;
    }
    line-height: 46px;
    margin-top: 10px;
  }

  @media (max-width: $vp-767) {
    font: {
      size: 70px;
    }
    line-height: 109px;
    margin-top: -24px;
  }
}

.sale__content h3 {
  font: {
    family: $roboto-condensed-bold;
    size: 28px;
  }
  line-height: 43px;
  padding-left: 16px;

  @media (max-width: $vp-767) {
    text-align: center;
  }
}

.sale__content p {
  font: {
    family: $roboto-condensed-light;
    size: 18px;
  }
  line-height: 27px;
  margin: 13px 0 0 17px;

  @media (max-width: $vp-1199) {
    font: {
      size: 18px;
    }
    line-height: 23px;
    margin-top: 30px;
  }

  @media (max-width: $vp-767) {
    font: {
      size: 18px;
    }
    line-height: 25px;
    margin-top: -7px;
    text-align: center;
    margin-bottom: 32px;
  }
}

.sale__content a {
  width: 79px;
  font: {
    family: $roboto-condensed-bold;
    size: 14px;
  }
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $color-default-white;
  border-bottom: 1px solid $color-default-white;
  text-transform: uppercase;
  margin: auto 0 0 17px;
  transition: 0.3s;

  @include hover-focus {
    opacity: 0.7;
  }

  @media (max-width: $vp-1199) {
    width: 77px;
    font: {
      size: 14px;
    }
    line-height: 11px;
    margin-left: 16px;
    padding-bottom: 4px;
  }

  @media (max-width: $vp-767) {
    font: {
      size: 14px;
    }
    line-height: 16px;
    text-align: center;
    padding-bottom: 0;
  }
}

.sale__img img {
  grid-area: img;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sale__block {
  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: space-between;

  @media (max-width: $vp-1199) {
    flex-direction: row;
    gap: 30px;
  }

  @media (max-width: $vp-767) {
    flex-direction: column;
    gap: 30px;
  }
}

.sale__block-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 7px;
  border-image: $gradient-text;
  border-image-slice: 1;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 13px 28px;
  cursor: default;

  @media (max-width: $vp-1199) {
    min-height: 214px;
    padding: 13px 28px;
  }

  @media (max-width: $vp-767) {
    min-height: 210px;
    padding: 25px;
    padding-bottom: 10px;
    text-align: center;
  }
}

.sale__block-wrapper h3 {
  font: {
    family: $roboto-condensed-bold;
    size: 26px;
  }
  line-height: 50px;

  @media (max-width: $vp-1199) {
    font: {
      size: 26px;
    }
    padding-bottom: 5px;
  }
}

.sale__block-wrapper p {
  font: {
    family: $roboto-condensed-regular;
    size: 16px;
  }
  line-height: 32px;
  margin-top: -7px;

  @media (max-width: $vp-1199) {
    line-height: 22px;
  }
}

.sale__block-wrapper a {
  width: 70px;
  font: {
    family: $roboto-condensed-bold;
    size: 12px;
  }
  line-height: 14px;
  color: $color-resolution-blue;
  text-transform: uppercase;
  border-bottom: 1px solid $color-resolution-blue;
  letter-spacing: 0.05em;
  margin-top: auto;
  margin-bottom: 17px;
  cursor: pointer;
  transition: 0.3s;

  @media (max-width: $vp-767) {
    margin: auto auto;
  }

  @include hover-focus {
    opacity: 0.7;
  }
}
