.trainers {
  padding-top: 53px;
  padding-bottom: 91px;

  @media (max-width: $vp-1199) {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  @media (max-width: $vp-767) {
    padding-top: 13px;
    padding-bottom: 70px;
  }
}

.trainers__container {
  position: relative;

  @media (max-width: $vp-1199) {
    padding: 0 101px;
  }

  @media (max-width: $vp-767) {
    padding: 0 47px;
  }
}

.trainers h2 {
  font: {
    family: $alumni-sans-semi-bold;
    size: 54px;
  }
  line-height: 65px;
  letter-spacing: 0.03em;
  color: $color-sapphire;
  margin-top: 0;
  margin-bottom: 48px;

  @media (max-width: $vp-1199) {
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    margin-left: -6px;
    margin-bottom: 31px;
  }

  @media (max-width: $vp-767) {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 42px;
  }
}

.trainers__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.trainers__item {
  position: relative;
  width: 260px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $vp-1199) {
    width: 268px;
  }

  @media (max-width: $vp-767) {
    width: 226px;
  }
}

.trainers__photo {
  position: relative;
  display: flex;
  justify-content: center;

  @media (max-width: $vp-1199) {
    width: 100%;
    height: auto;
  }
}

.trainers__photo h3 {
  font: {
    family: $roboto-condensed-bold;
    size: 18px;
  }
  line-height: 150%;
  color: $color-default-white;
  position: absolute;
  z-index: 1;
  bottom: 22px;
  margin: 0;

  @media (max-width: $vp-1199) {
    bottom: 21px;
    margin-left: 7px;
  }
}

.trainers__photo img {
  height: auto;
  object-fit: cover;
  width: 100vw;

  @media (max-width: $vp-1199) {
    min-width: 268px;
    min-height: 294px;
    height: auto;
  }

  @media (width: 768px) {
    height: 294px;
  }

  @media (max-width: $vp-767) {
    min-height: 274px;
  }

  @media (max-width: 320px) {
    min-width: 226px;
    height: 274px;
  }
}

.trainers__info {
  position: absolute;
  top: 0;
  background: rgba(16, 38, 84, 0.89);
  color: $color-default-white;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 52px 20px 52px 34px;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  display: none;

  @media (max-width: $vp-1199) {
    padding-top: 51px;
    padding-left: 28px;
  }

  @media (max-width: $vp-767) {
    padding-top: 43px;
    padding-left: 35px;
  }
}

.trainers__info h3 {
  font: {
    family: $roboto-condensed-bold;
    size: 18px;
  }
  line-height: 150%;
  margin: 0;
  margin-left: -12px;
}

.trainers__info span {
  font: {
    family: $roboto-condensed-light;
    size: 16px;
  }
  line-height: 150%;
  color: #b6bdcc;
  margin-bottom: 33px;
  text-align: center;
  margin-left: -12px;
  margin-top: -4px;

  @media (max-width: $vp-1199) {
    margin-top: -5px;
    margin-bottom: 33px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 34px;
  }
}

.trainers__info ul {
  font: {
    family: $roboto-condensed-light;
    size: 14px;
  }
  line-height: 150%;
  padding: 0;
  margin-left: 40px;
  list-style-type: disc;

  @media (max-width: $vp-1199) {
    margin-left: 39px;
  }

  @media (max-width: $vp-767) {
    margin-left: 12px;
  }
}

.trainers__info li {
  @media (max-width: $vp-1199) {
    padding-left: 4px;
  }
}

.trainers__info li:not(:last-of-type) {
  margin-bottom: 14px;
}

.trainers__button-prev,
.trainers__button-next {
  position: absolute;
  top: 52%;
  margin-top: 30px;
  background-color: transparent;
  border: 0;
  background-image: url("../img/svg/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 34px;
  z-index: 1;
  cursor: pointer;
  box-sizing: content-box;

  @media (max-width: $vp-1199) {
    margin-top: 15px;
  }

  @media (max-width: $vp-767) {
    background-size: 10px 19px;
    margin-top: 16px;
  }

  &:hover {
    opacity: 0.5;
  }
}

.trainers__button-prev {
  left: -45px;

  @media (min-width: 1200px) and (max-width: 1280px) {
    left: 0;
  }

  @media (max-width: $vp-1199) {
    left: 37px;
  }

  @media (max-width: $vp-767) {
    left: 4px;
  }
}

.trainers__button-next {
  right: -45px;
  transform: rotate(180deg);

  @media (min-width: 1200px) and (max-width: 1280px) {
    right: 0;
  }

  @media (max-width: $vp-1199) {
    right: 37px;
  }

  @media (max-width: $vp-767) {
    right: 4px;
  }
}

// Показ контента

@media (min-width: $vp-1200) {
  .trainers__item:hover .trainers__photo h3 {
    display: none;
  }

  .trainers__item:hover .trainers__info {
    display: flex;
  }
}

@media (max-width: $vp-1199) {
  .trainers__item:active .trainers__photo h3 {
    display: none;
  }

  .trainers__item:active .trainers__info {
    display: flex;
  }

  .trainers__item:focus .trainers__info {
    display: flex;
    z-index: 2;
  }
}

.none {
  display: none;
}

.flex {
  display: flex;
}
