.video {
  @media (max-width: $vp-1199) {
    margin: 0 auto;
  }
}

.video__iframe {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
}

.video__preview {
  width: 100%;
  background-color: $color-default-white;

  @media (max-width: $vp-1199) {
    width: 266px;
    height: 167px;
    margin-top: -84px;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    height: auto;
    margin: 0;
  }

  @media (max-width: $vp-320) {
    height: 167px;
  }
}

.video__play {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 19%;
  left: 28%;
  cursor: pointer;

  @media (max-width: $vp-1199) {
    width: 75px;
    height: 75px;
  }
}

.video__play img {
  position: absolute;
  top: 19%;
  left: 28%;

  @media (max-width: $vp-1199) {
    left: 21%;
  }

  @media (max-width: $vp-767) {
    left: 45%;
  }
}
